@import '../app.component.css';

.notification {
  width: 400px;
  height: 200px;
  padding: 20px;
  box-shadow: 0 0 10px #3C3F41;
  border-radius: 4px;
  background-color: #00B3E6;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation: drop_appear 0.5s ease-in-out;
  animation-fill-mode: forwards;
  text-align: center;
  z-index: 2;
  color: #fff;
}

.notification-overlay{
  display: block;
  position: absolute;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background: rgba(255,255, 255, 0.1);
  -moz-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;

}
#result-winner{
  animation: example 1s infinite;
}


@keyframes drop_appear {
  0%{margin: 0% auto;opacity: 0;}
  100%{margin: 5% auto;opacity: 1;}
}

@keyframes flash {
  0%{}
  100%{}
}

@keyframes example {
  0%{color:lime; text-shadow:0 0 20px green}
  25%{color:green; text-shadow:2px 2px 2px lime; transform: translate(-2px,1px)}
  40%{color:lime; text-shadow:none; transform: translate(0,0)}
  50%{color:green; text-shadow:5px 5px 2px blue, -5px -5px 2px red; transform: translate(0px,5px)}
  70%{color:lime; text-shadow:none; transform: translate(0,0)}
  80%{color:lime; text-shadow:0 0 20px green; transform: translate(-2px,1px)}
  100%{color:lime; text-shadow:none;}
}
